<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>erro</title>
    <%- include("../includes/styles") %>
</head>
<body>
    <%- include("../includes/header") %>
    <section class="container">
        <h1 class="display-1 err"> Error - 404</h1>
    </section>
    <%- include("../includes/footer") %>
</body>
</html>